<h1>Questions</h1>

<div>
  <%= render 'question_list', questions: @questions %>
</div>

<%= page_entries_info @questions %>

<div class='d-flex justify-content-center '>
  <br>
  <%= paginate @questions %>
  <br>
</div>



